/* Navbar */
.navbar-default {
	background-color: #1fa67b;
	border-color: #25c793;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #e4e4e4;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e4e4e4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e4e4e4;
	background-color: #25c793;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #e4e4e4;
	background-color: #25c793;
}
.navbar-default .navbar-toggle {
	border-color: #25c793;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #25c793;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #e4e4e4;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #e4e4e4;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #e4e4e4;
		background-color: #25c793;
	}
}

/* Buttons */
.form-control {
  color: #212121;
}
.btn-custom {
  color: #fff;
  background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
  color: #fff;
  background-color: #1b916b;
}

/* Table Colors */
.table-striped>thead {
  background-color: #1fa67b;
}


/* Set the background to be an image */
body {
    background-image: url("../images/congruent_outline.png");
}

/* Change color of <hr> tag */
hr {
  border-color: #1fa67b;
}

.jumbotron > hr {
	border-color: #1fa67b;
}

/* Animation for the alerts */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.35s linear;
  -moz-transition: opacity 0.35s linear;
  -o-transition: opacity 0.35s linear;
  transition: opacity 0.35s linear;
}
.fade.in {
  opacity: 1;
}

/* Fix content moving issue */
body{
	overflow-y:scroll;
}
